* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 390px) and (max-width: 844px) {

    .banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

.name {
position: absolute;
bottom: 40px;              
left: 25%;                
transform: translateX(-50%);
color: #0D38A3;
text-align: center;
font-family: Poppins;
font-size: 27px;
font-style: normal;
font-weight: 500;
}

}