* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 390px) and (max-width: 844px) {
 
body {
    font-family: Poppins, sans-serif;
    background: #f5f5f5;
}


.profile-card {
    width: 100%;
    background: white;
    overflow: hidden;
}


.banner img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.profile-content {
    position: relative;
    padding: 70px 40px 40px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -60px;
    left: 40px;
    border: 6px solid white;
}

.name {
    color: #0D38A3;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.follow-btn {
    background: #0D38A3;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.follow {
    display: flex;
    gap: 50px;
}

.stats {
    text-align: center;
}

.number {
    display: block;
    color: #0D38A3;
    font-size: 24px;
    font-weight: 600;
}

.label {
    color: #0D38A3;
    font-size: 14px;
}
}