* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 390px) and (max-width: 844px) {

body {
    font-family: Poppins, sans-serif;
    background: #f5f5f5;
}


.profile-card {
    width: 100%;
    overflow: hidden;
}


.banner img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.profile-content {
    background: #ffffff;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -45px;
    width: 100%;
    padding: 70px 40px 40px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: -60px;
    left: 40px;
    border: 2px solid #ffffff;
}


.follow-btn {
    background: #0D38A3;
    color: #93B4E9;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.follow-btn:hover {
    background-color: #080D58;
    color: #ffffff;
}


.infos {
    position: absolute;
    top: 18px;
    left: 190px; 
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name {
    color: #0D38A3;
    font-size: 23px;
    font-weight: 500;
}

.stats-row {
    margin-left: 10px;
    display: flex;
    gap: 40px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    color: #0D38A3;
    font-size: 24px;
    font-weight: 600;
}

.label {
    color: #0D38A3;
    font-size: 14px;
}

}
