* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 390px) and (max-width: 844px) {

body {
    font-family: Poppins, sans-serif;
    background: #f5f5f5;
}


.profile-card {
    width: 100%;
    overflow: hidden;
}


.banner img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.profile-content {
    background: #ffffff;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -45px;
    width: 100%;
    padding: 70px 40px 40px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: -60px;
    left: 40px;
    border: 2px solid #ffffff;
}


.follow-btn {
    background: #93B4E9;
    color: #0D38A3;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}


.infos {
    position: absolute;
    top: 18px;
    left: 190px; 
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name {
    color: #0D38A3;
    font-size: 23px;
    font-weight: 500;
}

.stats-row {
    margin-left: 10px;
    display: flex;
    gap: 40px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    color: #0D38A3;
    font-size: 24px;
    font-weight: 600;
}

.label {
    color: #0D38A3;
    font-size: 14px;
}

.memories {
    width: 350px;
    margin: 10px auto 30px;
}

.memories_fond img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.555);
}


.memories_infos {
    width: calc(100% - 18px);
    margin: -145px auto 0;
    padding: 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.memories_section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.memories_ici {
    width: 22px;
    height: 30px;
    object-fit: contain;
}


.memories_lieu {
    color: #0D38A3;
    font-size: 18px;
    font-weight: 650;
    text-transform: uppercase;
    line-height: 128%;
}

.memories_text {
    color: #0D38A3;
    font-size: 13px;
}

.memories_date {
    color: #0D38A3;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
}

}