
/* ========================= */
/* RESET */
/* ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================= */
/* BODY */
/* ========================= */
body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ========================= */
/* IPHONE */
/* ========================= */

.iphone::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(11px);

    z-index: 1;
}




.iphone {
    width: 100%;
    height: 100%;

    background-image: url("fond.png");

    background-size: cover;       /* Remplit tout l'écran */
    background-position: center;  /* Centre l'image */
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
  
}

/* ========================= */
/* VIDEO BACKGROUND */
/* ========================= */


/* ========================= */
/* UI AU-DESSUS */
/* ========================= */
.iphone > *:not(video) {
    position: absolute;
    z-index: 11;
}

/* ========================= */
/* BARRE GLASS FIGMA */
/* ========================= */
.image-bottom {
    bottom: -1px;
    left: 0;
    width: 390px;
    height: 164px;
    position: relative;


    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    /* FORME EXACTE FIGMA */
    clip-path: path("M196.176 0.000976562C247.115 0.0965256 273.768 41.7183 323.983 63H390V163H0V63H68.1924C118.408 41.7184 145.061 0.0966583 196 0.000976562V0H196.176V0.000976562Z");

    border-top: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(0, 0, 0, 0.3);
}

/* ========================= */
/* BOUTON PROFIL */
/* ========================= */
.btn-bottom {
    bottom: 32px;
    left: 55%;
    transform: translateX(-50%);
}

.btn-bottom img {
    width: 31px;
    cursor: pointer;
    position: absolute;
    bottom: 35px;
    left: 25px;
}

/* ========================= */
/* BOUTON CARTE */
/* ========================= */
.btn-map {
    bottom: -4px;
    right: 0;
}

.btn-map img {
    width: 101px;
    cursor: pointer;
}

/* ========================= */
/* BOUTON PLUS */
/* ========================= */
.btn-plus {
    bottom: 119px;
    left: 17px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.plus-icon {
    bottom: 128px;
    left: 26px;
    width: 22px;
    height: 22px;

}




/* ========================= */
/* BOUTON PHOTO */
/* ========================= */
.btn-photo {
    width: 50px;
    bottom: 94px;
    left: 171px;
}

/* ========================= */
/* BOUTON PLAY / PAUSE */
/* ========================= */
.button {
    width: 40px;
    height: 40px;
    background-color: #FFDBBB;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    bottom: 99px;
    left: 176px;

    z-index: 11;

    transition: all 0.5s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button.active {
    transform: scale(0.5);
    border-radius: 6px;
}

.container-horizontal {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
  border-radius: 22px;
  bottom: 30px;
  left: 104px;  
  width: 185px;
  overflow-x: auto;         /* scroll horizontal */
  white-space: nowrap;
  padding: 12px;
  scrollbar-width: none;    /* Firefox */
}

/* cacher scrollbar Chrome / Edge / Safari */
.container-horizontal::-webkit-scrollbar {
  display: none;
}

/* boutons texte uniquement */
.container-horizontal button {
  display: inline-block;
  background: none;         /* pas de fond */
  border: none;  
  padding: 0;               /* enlève le padding par défaut */
  margin-right: 20px;       /* ESPACEMENT entre boutons */
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

/* hover */
.container-horizontal button:hover {
  text-decoration: none;
  color: #FFDBBB;
}

/* focus clavier */
.container-horizontal button:focus {
  outline: none;
  text-decoration: none;
}

.glass {
  color: rgba(255, 255, 255, 0.85);

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.04)
  );

  border: 1px solid rgba(255, 255, 255, 0.25);

  
  -webkit-backdrop-filter: blur(10px) saturate(140%);

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    0 10px 24px rgba(0, 0, 0, 0.2);

  border-radius: 22px;
  bottom: 34px;
  left: 145px;
  width: 105px;
  height: 34px;
  z-index: 20;

  cursor: pointer;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}



/* Reflet liquide */
.glass::before {
  content: "";
  position: absolute;
  top: -70%;
  left: -40%;
  width: 160%;
  height: 160%;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.35),
    transparent 55%
  );
  opacity: 0.4;
  pointer-events: none;
  transform: rotate(25deg);
}


/* Animation au hover */
.glass:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.7),
    0 18px 40px rgba(0, 0, 0, 0.35);
}

/* Effet pression */
.glass:active {
  transform: scale(0.97);
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
        top: 50%;
    transform: translateY(-50%);
    div {
      scroll-snap-align: center;
      flex-shrink: 0;
      position: relative;
      text-align: center;
      width: 100%;
      aspect-ratio: 2 / 3;
      &:before {
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 1rem;
     object-fit: cover;
    }
    &.dragging {
      cursor: grabbing;
      scroll-snap-type: none;
    }
}



.box {
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    width: 320px;
    height: 56px;

    display: flex;
    align-items: center;

    padding: 0 16px;              /* espace intérieur */
    justify-content: center;      /* le titre reste centré */

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.3),
        0 8px 20px rgba(0, 0, 0, 0.25);

    z-index: 15;
    position: absolute;
}

/* TEXTE TITRE */
.box h1 {
    font-family:"Poppins", sans-serif;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.5px;

    margin-right: 160px;
}

.top-btn {
    position: absolute;
    left: 20px;
    bottom: 13px;
    background: none;
    border: none;
    cursor: pointer;
}

.top-btn img {
    width: 13px;
}