
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 390px) and (max-width: 844px) {
 
/*#splash_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FD8550 0%, #93B4E9 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Toujours au-dessus de tout 
    transition: opacity 0.8s ease-out, visibility 0.8s;
}*/

#logo_anim {
    width: 250px; /* Ajuste la taille de ton logo */
    height: auto;
}

/* Classe qui sera ajoutée en JS pour faire disparaître l'écran */
.fade-out {
    opacity: 0;
    visibility: hidden;
}

.homepage_content {
   position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.nav_bottom {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 160px;

    z-index: 10;

}

.nav-shape{
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn_map {
    position: fixed;
    right: 0px;
    bottom: -8px;
    z-index: 11;
    
}

.btn-map img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.btn_profil {
    position: fixed;
    left: 0;
    bottom: -7px; 
    z-index: 12;
    padding: 35px 25px;
}

.btn-profil img {
    width: 30px;
    height: 30px;
    
}

.btn_fond {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.029);
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    overflow: hidden;
    z-index: 25;
    
    display: flex;
    justify-content: center;
    align-items: center;

  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 2px solid rgba(255, 219, 187, 0.3);
}

.btn_circle {
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 55px;
    height: 55px;
    background: #FFDBBB;
    border-radius: 50%;
    z-index: 28;
    transition: all 0.2s ease;
}
.btn_play{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn_play.active .btn_circle {
    border-radius: 6px; 
    transform: scale(0.7); 
    translate: calc(-50%);


}

}